asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
certifi==2025.10.5
charset-normalizer==3.4.4
colorama @ file:///C:/ci_311/colorama_1676422310965/work
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
contourpy==1.3.3
cycler==0.12.1
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1757067193434/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341249812/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061250618/work
filelock==3.20.0
fonttools==4.60.1
fsspec==2025.9.0
idna==3.11
ipykernel @ file:///C:/miniconda3/conda-bld/ipykernel_1757583382905/work
ipython @ file:///C:/miniconda3/conda-bld/ipython_1759328513319/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
Jinja2==3.1.6
joblib==1.5.2
jupyter_client @ file:///C:/b/abs_149bw133if/croot/jupyter_client_1737570986926/work
jupyter_core @ file:///C:/b/abs_7c6fipznw3/croot/jupyter_core_1751991383524/work
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1758520223000/work
mkl-service==2.5.2
mkl_fft @ file:///C:/b/abs_64riv3lfyn/croot/mkl_fft_1751310924052/work
mkl_random @ file:///C:/b/abs_47jvsmau4j/croot/mkl_random_1751310922820/work
mpmath==1.3.0
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx==3.5
numexpr @ file:///C:/b/abs_3buvfgcf6r/croot/numexpr_1755766488094/work
numpy @ file:///C:/miniconda3/conda-bld/numpy_and_numpy_base_1760547751270/work/dist/numpy-2.3.3-cp311-cp311-win_amd64.whl#sha256=5f6f978040468dbac12faf9e5b24dc95acff36622acfc28b2e5e7b3347361b75
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049096285/work
pandas @ file:///C:/miniconda3/conda-bld/pandas_1759822263352/work/dist/pandas-2.3.3-cp311-cp311-win_amd64.whl#sha256=6cc36ffe18be45df11aaf1bc4a62c61afd14f3236a1bf9f7f234fcdafbeb362b
parso @ file:///C:/b/abs_834b4mj92b/croot/parso_1733963322289/work
pillow==12.0.0
platformdirs @ file:///C:/b/abs_ddh15014or/croot/platformdirs_1744273060660/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1760375688989/work
psutil @ file:///C:/miniconda3/conda-bld/psutil_1757104557591/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067065603/work
Pygments @ file:///C:/b/abs_e4bg5vh5j_/croot/pygments_1744667628203/work
pyparsing==3.2.5
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1758103951316/work
requests==2.32.5
scikit-learn==1.7.2
scipy==1.16.2
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067061065/work
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.9.0
torchvision==0.24.0
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
urllib3==2.5.0
wcwidth @ file:///C:/b/abs_0c8p4c33bp/croot/wcwidth_1750352902378/work
